@media (max-width: 768px){
.assignman {
    margin-left: 0px !important;
    padding: 0px !important;
    flex-grow: 1;
    margin-top: 40px;
}
.timeline-container{
    width: 100%;
}
.timeline-img{
    width: 56px;
    height: 80px;
}
}


