@media (max-width: 768px) {
    .responvice{
        margin-left: 0px !important;
    }
}
.mystay{
        background-color: #dcfce7;
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}