@media (max-width: 768px){
    .maintech{
        margin-left: 0px !important;
    }
    .newtech{
        padding: 20px 12px !important;
    }
}
.dashboard-link {
  text-decoration: none !important;
  display: block;
  transition: transform 0.2s ease;
}
.dashboard-link:hover {
  transform: scale(1.02);
}