@media (max-width: 768px){
    .newstas{
        margin-left: 0px !important;
    }
    .newmseed{
        padding: 20px 12px !important;
    }
    .dashboard-link{
        width: 100%;
    }
}
.dashboard-link {
  text-decoration: none !important;
  display: block;
  transition: transform 0.2s ease;
}
.dashboard-link:hover {
  transform: scale(1.02);
}